#input_box{
    margin: 5% 0 0 25%;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

#output_box {
	padding-top: 30px;
}

.in_box{
    padding: 3% 0 0 22%;
}
.headline {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: black;
    color: white;
    height: 70px;
	padding:10px;
}
.user_div{
    width: 30%;
    text-align: center;
    border: 2px solid brown;
    outline-style: solid;
    outline-color: invert;
    margin: 0 auto;
    padding: 5px;
}

.sample_div{
    margin:4.2%;
    width: 25%;
    text-align: center;
    display: inline-block;
    border: 1px solid yellow;
    outline-style: solid;
    outline-color: invert;
}

.flex-container {
  display: flex;
}
